<div class="container">
  <h1 class="title"><span class="c1">Color </span> <span class="c2">Color </span> <span class="c3">which </span> 
  <span class="c4">color </span><span class="c5"> would </span> <span class="c6">you </span><span class="c7">
  choose? </span></h1>
 
 <h3>Enter Color:
  <input type="text" [(ngModel)]="inputcolor">
  <br>
  <br>
    <button (click)="setstyle()" [style.background-color]="inputcolor">Change Color Dynamically</button>
  
</h3>
<p [style.color]="inputcolor" [ngStyle]="myStyle">{{inputcolor}}</p>


</div>